<?xml version="1.0"?>
<configuration>
    <appSettings />
    <connectionStrings>
        <add name="SlipConnStr" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\slipDB.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
      <add name="SyglConnStr" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\sygldb.mdb;Persist Security Info=True"
          providerName="System.Data.OleDb" />
    </connectionStrings>
    <system.web>
        <compilation debug="true">

        </compilation>
        <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节
            可以配置相应的处理步骤。具体而言，
            开发人员通过该节可配置要显示的 html 错误页，
            以代替错误堆栈跟踪。
 -->
        <customErrors  mode="Off" />
 <!-- defaultRedirect="mycustompage.htm"
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->

    </system.web>

</configuration>
