@charset "utf-8";
/* CSS Document */
*{
	padding:0;
	margin:0;
}
.clear{
	clear:both;
}
body{
	background:url(image/header_bg.gif) repeat-x top ;
	font-size:0.75em;
}
img{
	border:none;
}
#wrapper{
	margin:0 auto;
	width:910px;
}
#header{
	float:left;
	width:910px;
	height:125px;
	position:relative;
	background:url(image/bar_bg.jpg) no-repeat left top;
}
#dock{
	position:absolute;
	top:30px;
	right:10px;
	color:#333;
	line-height:2em;
	width:400px;
	height:20px;
}
#nav{
	position:absolute;
	left:430px;
	bottom:18px;
}
#nav ul{
	list-style:none;float:left;
}
#nav li{
	list-style:none;
	float:left;
	border-right:#DDD 1px solid;
	padding:0 12px;
	
}
#nav a{
	color:#EDEDE6;
	text-decoration:none;
	font-size:13px;
	font-weight:600;
}
#nav a:hover{
	color:#CDCDC6;
	text-decoration: underline;
}
#page{
	width:910px;
	float:left;
}
#slide { position:relative;width:650px; height:180px; overflow:hidden; border:1px solid #ccc; float:left}
#slide img{width:650px; height:180px}
#slide .ico{position:absolute; right:8px;bottom:6px}
#slide .ico li{background:#fff;float:left;display:block; width:15px; height:15px; line-height:15px;border:1px solid #cecece;font-family:Arial, Helvetica, sans-serif;text-align:center;margin:2px; padding: 1px;cursor:pointer}
#slide .ico li.high{background:#047;color:#fff;font-weight:bolder}

#top_side{
	margin:0 0 0 20px;
	position:relative;
	float:left;
	width:220px;
}
#top_side h3 {
	float:left;
	padding:0 0 0 15px;
	line-height:2em;
	color:#636B7C;
	background-color:#F6F8FA;
	display:block;
	width:205px;
	border-top:#E3E3E3 1px solid;
}
#top_side ul {
	list-style:none;
	float:left;
	padding:0 0 0 20px;
	line-height:2.5em;
}
#top_side ul a{
	color:#3B639F;
	font-weight:600;
	text-decoration:none;
}
#top_side ul a:hover{
	color:#030;
	text-decoration:underline;
}
#bottom_side{
	margin:10px 0 0 15px;
	position:relative;
	float:left;
	width:220px;
}
#bottom_side h3 {
	float:left;
	padding:0 0 0 15px;
	line-height:2em;
	color:#636B7C;
	background-color:#F6F8FA;
	display:block;
	width:205px;
	border-top:#E3E3E3 1px solid;
}
#bottom_side ul {
	list-style:none;
	float:left;
	padding:0 0 0 20px;
	line-height:2.5em;
}
#bottom_side ul a{
	color:#3B639F;
	font-weight:600;
	text-decoration:none;
}
#bottom_side ul a:hover{
	color:#030;
	text-decoration:underline;
}
#left_item{
	width:260px;
	margin:0 5px 12px 0;
	border: #D6DBE1 1px solid;
	border-top: #458FCE 2px solid;
	float:left;
	margin-top:10px;
}
#left_item:hover,center_item:hover{
	background-color:#E8F3FF;
}
#left_item h3{
	width:248px;
	line-height:3em;
	color:#3B639F;
	float:left;
	padding:0 0 0 10px;
	border-top:#D6DBE1 1px solid;
	
	margin-top:3px;
	background-color:#FFF;
}
#left_item ul{
	list-style:none;
	float:left;
}
#left_item ul li{
	float:left;
	padding: 5px 0 0 0;
	margin-bottom:3px;
	border-top:#D6DBE1 1px solid;
	width:255px;
}

.center_item{
	width:190px;
	margin:0 5px 12px 0;
	border: #D6DBE1 1px solid;
	border-top: #458FCE 2px solid;
	float:left;
	margin-top:10px;
}
.center_item h3{
	width:178px;
	line-height:3em;
	color:#3B639F;
	float:left;
	padding:0 0 0 10px;border-top:#D6DBE1 1px solid;border-bottom:#D6DBE1 1px solid;
	margin-top:3px;
}
.center_item ul{
	list-style:none;
	float:left;
}
.center_item ul li{
	padding-left:10px;
	float:left;
	line-height:2em;
	width:175px;
}
.center_item ul li a{
	text-decoration:none;
	color:#493969;
}

.center_item ul li a:hover{
	text-decoration:underline;
	color:#030;
}
#xjul li{
	line-height:2.5em;
}
#footer{
	text-align:center;
	color:#999;
	line-height:2em;
	background-color:#ECF1FF;
}


